.icon-holder[type="cardbookTab"],
.tabmail-tab[type="cardbookTab"] {
	list-style-image: url("chrome://cardbook/skin/cardbook_16_16.png");
}

/* #cardbookMenuItem */

#qfb-cardbook,
#cardbookComposeToolbarButton,
#cardbookToolbarButton {
	list-style-image: url("chrome://cardbook/skin/cardbook_24_24.svg");
}

#cardbookTabButton {
	list-style-image: url("chrome://cardbook/skin/cardbook_16_16.svg");
}


#cardbookFolderPaneToolbar {
	border-top-style: none;
	border-bottom: 1px solid ThreeDShadow;
}
@media (-moz-os-version: windows-win7) and (-moz-windows-default-theme),
       (-moz-os-version: windows-win8) and (-moz-windows-default-theme),
       (-moz-os-version: windows-win10) and (-moz-windows-default-theme) {
	#cardbookFolderPaneToolbar {
		border-bottom-color: #c2c2c2;
	}
}
@media (-moz-windows-glass) {
	#cardbookFolderPaneToolbar {
		border-bottom-color: #aabccf;
	}
}
#cardbookFolderPaneToolbar > #accountsOrCatsTreeToolbaritem {
	-moz-box-flex: 1;
}
#cardbookFolderPaneToolbar > .toolbarbutton-1,
#cardbookFolderPaneToolbar > toolbaritem > menulist {
	margin: 0;
}
#cardbookFolderPaneToolbar > :-moz-any(*) + :-moz-any(*) {
	margin-inline-start: 2px;
}