.vCard {
   border-bottom: 2px solid black;
   padding: 0;
}
.table {
   text-align: left;
   word-wrap: break-word;
   vertical-align: top;
}
.datavalue {
   width: 100%;
   white-space: pre-wrap;
   word-wrap: break-word;
}
.typevalue {
   white-space: nowrap;
}
.dummyvalue {
   min-width: 10px;
}
.titlevalue {
   white-space: nowrap;
   font-weight: bold;
}
.print_preview_category {
   border: thin solid;
   display: inline;
   padding: 0 0.25em;
}
