menuitem[ABtype="local"] {
	list-style-image: url("chrome://cardbook/skin/ABLocal.png");
}
menuitem[ABtype="remote"] {
	list-style-image: url("chrome://cardbook/skin/ABRemote.png");
}
/* as the file Search-glass.png disappeared in Th 55 */
/* and as before Th 55 it is not possible to display svg file */
/* need to package one png file */
menuitem[ABtype="search"] {
	list-style-image: url("chrome://cardbook/skin/ABSearch.png");
	/* list-style-image: url("chrome://global/skin/icons/Search-glass.png"); */
	/* -moz-image-region: rect(0, 16px, 16px, 0); */
	/* list-style-image: url("chrome://messenger/skin/icons/search-glass.svg"); */
}
menuitem[ABtype="standard-abook"] {
	list-style-image: url("chrome://messenger/skin/addressbook/icons/addrbook.png");
}

#VCardRow > #VCardTextbox {
	width: 100%;
	box-sizing: border-box;
	min-height: 15em;
	margin: 2px 4px;
}