.cardbookBackgroundColorClass groupbox {
	-moz-appearance: none !important;
	background-color: transparent !important;
	border: 0px !important;
}

/* for Linux Mint otherwise gmail is not entirely seen in mail edition */
.cardbookBackgroundColorClass textbox {
	min-height:16px !important;
}
.cardbookBackgroundColorClass textbox[readonly="true"] {
	-moz-appearance: none !important;
	min-height:16px !important;
	background-color: transparent !important;
	border: 0px !important;
	padding-left: 0px !important;
}
.cardbookBackgroundColorClass textbox[link="true"] {
	-moz-appearance: none !important;
	min-height:16px !important;
	background-color: transparent !important;
	border: 0px !important;
	cursor: pointer !important;
	color: -moz-hyperlinktext;
}
.cardbookBackgroundColorClass textbox[link="true"]:hover {
	color: -moz-activehyperlinktext;
}

.cardbookVerticalSplitterClass {
	-moz-appearance: none !important;
	border-top: 0px;
	border-left: 0px;
	border-right: 5px solid ThreeDShadow;
	border-bottom: 0px;
	margin-right: -4px;
	overflow: hidden;
	background-color: window;
}
.cardbookHorizontalSplitterClass {
	-moz-appearance: none !important;
	border-top: 5px solid ThreeDShadow;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	margin: 0;
	margin-top: -4px;
	overflow: hidden;
	background-color: window;
}

.cardbookNoPrefStarClass {
	-moz-image-region: rect(0 16px 16px 0);
}

/* for the dark theme */
:root[lwt-tree] #accountsOrCatsTree,
:root[lwt-tree] #cardsTree {
  	-moz-appearance: none;
}
#rightPaneDownHbox,
#cardbookFolderPaneToolbox {
	-moz-appearance: none !important;
	color: -moz-DialogText;
	background-color: -moz-Dialog;
}

treecol#cardIcon.cardIconHeader[hidden="true"] .treecol-text {
}
treecol#cardIcon.cardIconHeader .treecol-text {
	display: none;
}
treecol#cardIcon.cardIconHeader .treecol-sortdirection {
	list-style-image: url("chrome://cardbook/skin/abcard.svg");
}

/* categories */
#categoriesclassicalHbox,
#categoriesmodernHbox {
	display: block;
}

#categoriesclassicalRow box,
#categoriesmodernRow box {
	display: inline;
}

#categoriesclassicalRow label,
#categoriesmodernRow label {
	display: inline-block;
}

/* edition */
.cardbookExpandedClass {
	list-style-image: url("chrome://global/skin/icons/twisty-collapsed.svg");
}
.cardbookExpandedClass[expanded="true"] {
	list-style-image: url("chrome://global/skin/icons/twisty-expanded.svg");
}

/* textarea */
#notemodernGroupbox,
#noteclassicalGroupbox,
#noteTabpanel,
#othersGroupbox,
#vcardTabpanel {
    display: flex;
}

#notemodernTextBox,
#noteclassicalTextBox,
#noteTextBox,
#othersGroupbox > #othersTextBox,
#vcardTextBox {
    width: 100%;
    box-sizing: border-box;
}
    
.cardbookBackgroundColorClass textarea[readonly="true"] {
	background-color: transparent !important;
	border: 0px !important;
}
.cardbookBackgroundColorClass textarea[link="true"] {
	background-color: transparent !important;
	border: 0px !important;
	cursor: pointer !important;
	color: -moz-hyperlinktext;
}
.cardbookBackgroundColorClass textarea[link="true"]:hover {
	color: -moz-activehyperlinktext;
}
