.cardbookMergeSelectedClass textarea[mergeSelected="true"],
.cardbookMergeSelectedClass textbox[mergeSelected="true"] {
	-moz-appearance: none !important;
	min-height:20px !important;
	background-color: #81F781 !important;
	border: 0px !important;
	padding-left: 0px !important;
}
.cardbookMergeSelectedClass textarea[mergeSelected="false"],
.cardbookMergeSelectedClass textbox[mergeSelected="false"] {
	-moz-appearance: none !important;
	min-height:20px !important;
	background-color: transparent !important;
	border: 0px !important;
	padding-left: 0px !important;
}